.banner {
  text-align: center;
  height: 400px;
  font: white;
  h1 {
    text-align: center;
    padding: 100px;
    color: white;
  }
}

.show-back {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  vertical-align: center;
}
