.card {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  color: white;
}

.card-drink {
  width: 400px;
  height: 100%;
  margin: 16px auto;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 4px 4px 2px #BFBFBF;
}

.footer {
  text-align: center;
  padding: 16px;
}
